/*
Language: energyplus
Description: EnergyPlus is a whole building energy simulation program that engineers, architects, and researchers use to model both energy consumption and water use in buildings.
Author: Julien Marrec <contact@effibem.com>
Website: https://energyplus.net
Category: scripting
*/

/** @type LanguageFn */
module.exports = function (hljs) {

  const COMMENT = { variants: [
    hljs.COMMENT('!-', '$', { relevance: 2 }),
    hljs.COMMENT('!', '$', { relevance: 0 }),
  ] };

  const OBJECT_NAMES_KEYWORDS = {{ object_names_keywords | pretty_js_array }};

  const CHOICE_KEYWORDS = {{ choice_keywords | pretty_js_array }};

  const LITERALS = {{ literals | pretty_js_array }};

  const IDF_KEYWORDS = {
    $pattern: /[\w:]+(?:\s+[\w:]+)*/,
    type: OBJECT_NAMES_KEYWORDS,
    keyword: CHOICE_KEYWORDS,
    literal: LITERALS
  };

  const OBJECT_BLOCK = {
    begin: [
      /^\s*/,
      /[A-Za-z][\w:-]*/,
      /\s*,/
    ],
    beginScope: { 2: 'type' },
    end: /;/,
    endScope: 'operator',
    keywords: IDF_KEYWORDS,
    contains: [
      COMMENT,
      hljs.NUMBER_MODE,
    ]
  };

  return {
    name: 'energyplus',
    aliases: [
      'idf',
      'IDF'
    ],
    case_insensitive: true,
    keywords: IDF_KEYWORDS,
    contains: [
      {
        className: 'meta.version',
        begin: /^\s*[Vv]ersion,/,
        end: /;/,
        relevance: 10
      },
      OBJECT_BLOCK,
      COMMENT,
      hljs.NUMBER_MODE,
    ]
  };
}
